@import "tailwindcss";
@plugin "daisyui";

body { font-variant-numeric: tabular-nums; }
input, select, textarea { font-size: max(16px, 1em); }
.input:focus, .select:focus, .textarea:focus, .file-input:focus { outline: none; }
